<template>
    <li class="list-group-item">
        <div class="row">
            <div class="col-12 col-sm-3 text-left">
                <h3 v-text="post.title"></h3>
                <i v-text="post.description"></i>
            </div>
            <div class="col-12 col-sm-7 text-left" v-text="post.content"></div>
            <div class="col-12 col-sm-2">
                <button class="btn btn-outline-info btn-sm" @click="deletePost(post._id)">
                    <span v-if="!deletingPost">Delete post</span>
                    <span v-if="deletingPost">Deleting post...</span>
                </button>
            </div>
        </div>
    </li>
</template>
<script>
    import axios from 'axios';
    export default {
        name: 'PostRow',
        props: ['post', 'url'],
        data() {
            return {
                deletingPost: false,
                deletingError: null,
            }
        },
        methods: {
            deletePost(id) {
                if (!this.deletingPost) {
                    this.deletingPost = true;
                    axios.delete(this.url + id)
                        // handle success
                        .then(response => {
                            console.log('je tape là', this.url + id)
                            this.deletingPost = false;
                            this.deletingSuccess = true;
                            console.log("deleting response", response)
                            this.$emit('refresh-posts', 'new list of post...');
                        })
                        // handle Error
                        .catch(error => {
                            this.deletingPost = false;
                            this.deletingError = error;
                        })
                }
            }
        },
    }
</script>