<template>
    <div>
        <h2>Create a new post :</h2>

        <textarea v-model="postText" name="newpostcontent"></textarea>

        <div v-if="creatingPost">
            Creating new post...
        </div>

        <div v-if="creationSuccess">
            Your post has been created successfully !
        </div>

        <button @click="createNewPost(postText)">Create new post</button>
    </div>
</template>
<script>
    export default {

    }
</script>