<template>
  <div class="row">
    <div class="col-12 col-sm-8">
      <h1>Here is a list of posts :</h1>
      <div v-if="error && !loading" v-text="error"></div>

      <div v-if="loading" v-text="'Loading '+ loadingText"></div>

      <ul class="list-group" v-if="!loading && !error">
        <PostRow v-for="(post, index) in posts" :key="index" @refresh-posts="getAllPosts()" :post="post" :url="url" />
      </ul>
    </div>
    <div class="col-12 col-sm-4">
      <h2>Create a new post :</h2>
      <div class="form-group">
        <label for="post-title">
          <div>New Post Title</div>
          <input class="form-control" v-model="newPost.title" id="post-title" type="text" required>
        </label>
      </div>
      <div class="form-group">
        <label for="post-description">
          <div>New Post Description</div>
          <input class="form-control" v-model="newPost.description" id="post-description" type="text">
        </label>
      </div>
      <div class="form-group">
        <label for="postContent">
          <div>New Post Content</div>
          <textarea class="form-control" v-model="newPost.content"></textarea>
        </label>
      </div>
      <div v-if="creatingPost">
        Creating new post...
      </div>

      <div v-if="creationSuccess">
        Your post has been created successfully !
      </div>

      <button class="btn btn-primary" @click="createNewPost(newPost)">Create new post</button>
    </div>
  </div>
</template>

<script>
  import PostRow from './PostRow.vue';
  import axios from 'axios';
  export default {
    name: 'PostsList',
    components: {
      PostRow: PostRow,
    },
    data() {
      return {
        loading: true,
        loadingText: 'posts list...',
        posts: [],

        newPost: {
          title: '',
          description: '',
          content: ''
        },

        error: null,

        creatingPost: false,
        creationError: null,
        creationSuccess: false,

        url: 'http://localhost:5000/api/posts/',

      }
    },
    created() {
      this.getAllPosts();
    },
    methods: {
      getAllPosts(text) {
        axios.get(this.url)
          // handle success
          .then(response => {
            this.loading = false;
            this.posts = response.data;
            this.loadingText = text;
          })
          // handle Error
          .catch(error => {
            this.loading = false;
            this.error = error;
          })
      },
      createNewPost() {
        this.creatingPost = true;
        axios.post(this.url, this.newPost)
          // handle success
          .then(response => {
            this.creatingPost = false;
            this.creationSuccess = true;
            this.getAllPosts();
            response.data = this.newPost;
            setTimeout(function () {
              this.creationSuccess = false
            }, 3000);
          })
          // handle Error
          .catch(error => {
            this.creatingPost = false;
            this.creationError = error;
          })
      },
    },
  }
</script>
