<template>
  <div id="root" class="text-center">
    <HeaderPartial />
    <router-view />
    <FooterPartial />
  </div>
</template>

<script>
  import Header from './components/partials/Header'
  import Footer from './components/partials/Footer'
  export default {
    name: 'App',
    components: {
      HeaderPartial: Header,
      FooterPartial: Footer,
    }
  }
</script>
