<template>
    <div class="card bg-info text-light">
        <div class="card-header">
            <h1>Registration</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="usename">
                    <div>Your user id (We'll call you that way from now on...)</div>
                    <input class="form-control" v-model="register.username" id="username" type="text" required>
                </label>
            </div>
            <div class="form-group">
                <label for="useremail">
                    <div>Your email</div>
                    <input class="form-control" v-model="register.email" id="useremail" type="email" required>
                </label>
            </div>
            <div class="form-group">
                <label for="userpassword">
                    <div>Your password</div>
                    <input class="form-control" v-model="register.password" id="userpassword" type="password" required>
                </label>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-light" @click="createNewUser(register)">Register</button>
            <div v-if="loading">Creating new user</div>
            <div v-if="error" v-text="error"></div>
            <div v-if="creationSuccess">The user has been created successfully !</div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import localstorage from 'vue-localstorage';
    export default {
        name: 'Registration',
        data() {
            return {
                register: {
                    username: '',
                    email: '',
                    password: '',
                },

                loading: false,
                loadingText: '',

                error: null,

                creationSuccess: false,

                usersUrl: 'http://localhost:5000/api/users/',
                userUrl: 'http://localhost:5000/api/user/'

            }
        },
        methods: {
            createNewUser() {
                this.creatingUser = true;
                this.loading = true;
                axios.post(this.usersUrl + 'register', this.register)
                    // handle success
                    .then(response => {
                        this.loading = false;
                        this.creationSuccess = true;
                        response.data = this.register;
                        setTimeout(function () {
                            this.creationSuccess = false
                        }, 3000);
                        localstorage.user_id = response.data._id;
                        console.log("la reponse", response)
                        console.log("l'id de l'utilisateur est... tintin...", localstorage.user_id)
                    })
                    // handle Error
                    .catch(error => {
                        this.creatingUser = false;
                        this.creationError = error;
                    })
            },

            getUserId() {

            }
        }
    }
</script>