<template>
    <div class="container">
        <LoginComponent></LoginComponent>
    </div>
</template>
<script>
    import Login from '../components/Login/Login'
    export default {
        name: 'Login',
        components: {
            LoginComponent: Login,
        }
    }
</script>