<template>
    <div class="container">
        <PostsList></PostsList>
    </div>
</template>
<script>
import PostsList from '../components/PostsComponents/PostsList'
    export default {
        name: 'Posts',
        components: {
            PostsList,
        }
    }
</script>