<template>
    <div class="container">
        <Registration></Registration>
    </div>
</template>
<script>
    import Registration from '../components/Registration/Registration'
    export default {
        name: 'Register',
        components: {
            Registration,
        }
    }
</script>