<template>
    <div class="container">
        <UsersList></UsersList>
    </div>
</template>
<script>
import UsersList from '../components/Users/UsersList'
    export default {
        name: 'Users',
        components: {
            UsersList,
        }
    }
</script>