<template>
    <div class="container">
        <h1>This is the User dashboard view</h1>
        <div v-if="user">
            <div v-html="'Hello ' + user.username"></div>
        </div>
        <div v-html="error"></div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        name: 'User',

        data() {
            return {
                user: null,
                error: null,
                userUrl: 'http://localhost:5000/api/user/'
            }
        },
        created() {
            this.getUser();
        },
        methods: {
            getUser() {
                axios.get(this.userUrl + '5f5b7e7a7afbd23adc2930a3')
                    .then(response => {
                        this.user = response.data;
                        console.log(response.data);
                    })
                    .catch(error => {
                        this.error = error;
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            },
        }

    }
</script>