<template>
    <div>
        <h1>Users list</h1>
        <div v-if="loading" v-text="'Loading users list'"></div>
        <div v-if="deletingError" v-text="deletingError"></div>
        <table v-else class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in users" :key="index">
                    <td v-text="user.username"></td>
                    <td v-text="user.email"></td>
                    <td><button class="btn btn-sm btn-warning" @click="deletUser(user._id)">Delete user</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        name: 'UsersList',
        data() {
            return {
                usersUrl: 'http://localhost:5000/api/users/',
                loading: true,
                error: null,
                users: [],

                deletingError: null,

            }
        },
        created() {
            this.getAllUsers();
        },
        methods: {
            getAllUsers() {
                axios.post(this.usersUrl + 'users')
                    // handle success
                    .then(response => {
                        this.loading = false;
                        this.users = response.data;
                    })
                    // handle Error
                    .catch(error => {
                        this.loading = false;
                        this.error = error;
                    })
            },
            deletUser(id) {
                axios.delete(this.usersUrl + id)
                    // handle success
                    .then(response => {
                        console.log("deleting response", response)
                        this.getAllUsers();
                    })
                    // handle Error
                    .catch(error => {
                        this.deletingError = error;
                    })
            }
        }
    }
</script>