<template>
    <div class="card bg-primary text-light">
        <div class="card-header">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="useremail">
                    <div>Your email</div>
                    <input class="form-control" v-model="userData.email" id="useremail" type="email" required>
                </label>
            </div>
            <div class="form-group">
                <label for="userpassword">
                    <div>Your password</div>
                    <input class="form-control" v-model="userData.password" id="userpassword" type="password" required>
                </label>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-light" @click="login(userData)">Login</button>
            <div v-if="loading">Login'in...</div>
            <div v-if="error" v-text="error"></div>
            <div v-if="loginSuccess">Congrats {{ }}You are logged in</div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        name: 'Login',
        data() {
            return {
                userData: {
                    email: '',
                    password: '',
                },

                loading: false,
                loadingText: '',

                error: null,

                loginSuccess: false,

                usersUrl: 'http://localhost:5000/api/users/',
                userUrl: 'http://localhost:5000/api/user/'

            }
        },
        methods: {
            login() {
                this.loginIn = true;
                this.loading = true;
                axios.post(this.usersUrl + 'login', this.userData)
                    // handle success
                    .then(response => {
                        this.loading = false;
                        this.loginSuccess = true;
                        response.data = this.userData;
                        setTimeout(function () {
                            this.loginSuccess = false
                        }, 3000);
                    })
                    // handle Error
                    .catch(error => {
                        this.loginIn = false;
                        this.loginError = error;
                    })
            },
        }
    }
</script>